
/*
body {
    font-family: Arial, Helvetica, sans-serif;
  }
  input:checked + svg {
    transform: scale(0.9);
      color: green;
  }





  .clearfix:after {
       visibility: hidden;
       display: block;
       font-size: 0;
       content: " ";
       clear: both;
       height: 0;
       }
  .clearfix { display: inline-block; }
  start commented backslash hack 
   html .clearfix { height: 1%; }
  .clearfix { display: block; }
   close commented backslash hack 
  
  
  p {
    text-align: center;     
  }
  
  .yahtzee-board {
    position: relative;
    width: 710px;
    height: 250px;
    margin: 0 auto;
  }
  
  .scoresheet {
    clear: both;
    position: relative;
    width: 800px;
    margin: 0 auto;
  }
  
  .cube .front  { transform: translateZ(50px); }
  .cube .back   { transform: rotateX(-180deg) translateZ(50px); }
  .cube .right  { transform: rotateY(90deg) translateZ(50px); }
  .cube .left   { transform: rotateY(-90deg) translateZ(50px); }
  .cube .top    { transform: rotateX(90deg) translateZ(50px); }
  .cube .bottom { transform: rotateX(-90deg) translateZ(50px); }
  
  .container {
    float: left;
    margin: 20px;
  
    width: 100px;
    height: 100px;
    position: relative;
    
  
    perspective: 1000px;
    perspective-origin: 50% 100%;
  }
  
  .cube {
    width: 100%;
    height: 100%;
    top: 50%;
    position: absolute;
  
    transform-style: preserve-3d;
    transform: rotateX(270deg) rotateY(1710deg);
  
    transition: transform 2s;
  }
  
  .cube:hover {
    cursor: pointer;
  }
  
  .cube div {
        display: block;
    position: absolute;
    width: 100%;
    height: 50%;
    border: 1% solid #ab1a1a;
  
    margin: 0 auto;  
  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 500%;
    text-align: center;
    padding: 25% 0;
  }
  
  .cube.held div {
    background: hsla(240, 85%, 50%, 0.75);
    border: 1% solid #1a1aab;
  }
  
  table {
    width: 800px;
    background: #fff;
    border: 1px solid #000;
  }
  
  th, td {
    border: 1px solid #000; 
    padding: 2px;
    position: relative;
    vertical-align: middle;
  }
  
  tr.noborder td {
    border: none;
  }
  
  .score-die {
    background: #f00;
    border-radius: 2px;
    display: block;
    float: right;
    height: 24px;
    width: 24px;      
  }*/
  body {
    background-color: #121115;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23f20745' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    margin: 0;
  }
  
  html, body {
      height: 100%;
  }
  
  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
   padding: 0;
   margin: 0;
  }
  
  #dice-display {
    width: 9em;
    height: 9em;
    background-size: cover;
    align-self: center;
  }
  
  button {
    background-color: transparent;
    font-family: 'Ewert', cursive;
    font-size: 3.5em;
    color: white;
    font-weight: normal;
    border: none;
    width: 4em;
    align-self: center;
    transition: font-size ease-out .5s;
  }
  
  button:hover {
    font-size: 4.2em;
  }
  
  button:hover,
  button:active,
  button:focus {
    outline: none;
   border: none;
    cursor: pointer;
  }